header { 
    background-color: #edd9c0;
    weidth:900px; 
    height:100px; 
    text-align:center;
    pudding-top:30px
      }
aside {
    background-color: #c9d8c5;
    height:300px; 
    text-align:center;
    pudding-top:30px;
      }  
main {
    background-color: #a8b6bf;
    height:300px;
    text-align:center;
    pudding-top:30px;
      }
footer {
    background-color: #b56969; 
    width:900px;
    height:100px;
    text-align:center;
    pudding-top:30px;
    margine:10px auto;
      }